@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    justify-content: flex-start;
}

@media (max-width: $tablet) {
    .projectContainer {
        justify-content: space-around;
    }
}