.projectContainer {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-around;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .projectContainer {
        justify-content: space-around;
    }
}