@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.social_link {
    height: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}