@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

// font family
$fontStyle: 'KoHo';
$logoFont: 'Caveat';
$logoFont2: 'Tangerine';