// text colors
$titleColor: #000000;
$subTitleColor: #778088;
$titleColorDark: #ffffff;
$darkTheme: #171c28;
$subTitleColorDark: #fffaf0;
$subTitleColorDark2: #fffafa;
$courseraBlue: #0056d2;
$vividBlue: #2679ff;
$midnightBlue: #191970;
$navyBlue: #000080;