@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';

.skillContainer {
    display: flex;
}

.lottieContainer {
    width: 1000px;
}

.skillsDisplay {
    padding: 3rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    font-family: $fontStyle;
    color: $titleColor;
}

.titleDark {
    font-size: 3rem;
    text-align: center;
    font-family: $fontStyle;
    color: white;
}

.subtitle {
    font-size: 1rem;
    text-align: center;
    font-family: $fontStyle;
    color: $subTitleColor;
}

.skillDetails {
    font-family: $fontStyle;
    color: $subTitleColor;
}

@media (max-width: 768px) {
    .skillContainer {
        display: block;
    }
    .lottieContainer {
        display: block;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    .skillDetails {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}