@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.title {
    font-size: $titleSize;
    color: $titleColor;
    font-family: $fontStyle;
}

.titleDark {
    font-size: $titleSize;
    color: $titleColorDark;
    font-family: $fontStyle;
}

.subtitle {
    font-size: $subTitleSize;
    text-align: justify;
    color: $subTitleColor;
    font-family: $fontStyle;
}

.subtitleDark {
    color: $subTitleColorDark;
}

.lottieConatiner {
    width: 150rem;
}

.aboutContainer {
    display: flex;
}

.aboutContainerDark {
    background-color: $darkTheme;
    display: flex;
}

.aboutDetails {
    padding: 3rem;
}

.socialSection {
    text-align: center;
}

.waveEmoji {
    animation-name: wave-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(14deg);
    }

    30% {
        transform: rotate(-8deg);
    }

    40% {
        transform: rotate(14deg);
    }

    50% {
        transform: rotate(-4deg);
    }

    60% {
        transform: rotate(10deg);
    }

    70% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: $tablet) {
    .aboutContainer {
        display: block;
        text-align: center;
    }

    .lottieConatiner {
        display: block;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}