@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';

.title {
    font-size: $titleSize;
    color: $titleColor;
    font-family: $fontStyle;
}

.subtitle {
    font-size: $subTitleSize;
    text-align: center;
    color: $subTitleColor;
}

.lottieConatiner {
    width: 150rem;
}

.aboutContainer {
    display: flex;
}

@media (max-width: 768px) {
    .aboutContainer {
        display: block;
    }

    .lottieConatiner {
        display: block;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}