.certificateContainer {
    border: solid coral;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.organizationLogo {
    margin-top: auto;
    margin-bottom: auto;
}