@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.certificateContainer {
    width: 300px;
    margin-left: 5%;
    margin-right: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: center;
    font-family: $fontStyle;
}

.certificateContainerDark {
    box-shadow: rgb(255, 255, 255) 1.95px 1.95px 2.6px !important;
}

.logoContainer {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}

.certificateBody {
    height: 7rem;
    text-align: center;
}

.certificateName {
    height: 3rem;
    font-family: $fontStyle;
}

.certificateOrganization {
    height: 3rem;
}

.content:hover .logoContainer {
    opacity: 0.5;
}

.certificateImage {
    height: 17rem;
}

.content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.credentials {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    width: 100%;
    height: 92%;
    left: 50%;
    opacity: 0;
    text-decoration: none;
    color: $titleColorDark;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.content:hover .credentials {
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

.credentialsText {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-family: $fontStyle;
}

.content:hover .credentialsText {
    top: 50%;
    transition: all 0.5s ease-in-out;
}

@media (max-width: $tablet) {
    .certificateContainer {
        margin-left: auto;
        margin-right: auto;
    }
}