.navbar_container {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
}

.navbar_links {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}