@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.experience_card {
    width: 400px;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.experience_card_dark {
    border: white 1px solid;
}

.content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.logoContainer {
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.companyLogo {
    width: 100%;
}

.credentials {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    width: 100%;
    height: 98%;
    left: 50%;
    opacity: 0;
    text-decoration: none;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.credentialsText {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-family: $fontStyle;
}

.content:hover .credentialsText {
    top: 50%;
    transition: all 0.5s ease-in-out;
}

.content:hover .logoContainer {
    opacity: 0.5;
}

.content:hover .credentials {
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

.experienceDetails {
    font-family: $fontStyle;
    text-align: center;
    cursor: default;
    pointer-events: none;
}

.experienceName {
    font-family: $fontStyle;
}

.workDescription {}

ul {
    margin: 0.75em 0 0 0.5rem;
    padding: 0 1em;
    list-style: none;
}

.listBullets::before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1rem;
  top: 1.1rem;
  position: relative;
}

.listBullets {
    text-align: justify;
}

.listBulletsDark::before {
    border-color: transparent #fff;
}