@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.certificationsSection {
}

.certificationsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.showMore {
    text-align: center;
}

@media (max-width: 768px) {
    .certificationsContainer {
        justify-content: space-around;
    }
}