@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.certificationsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.title {
    font-family: $fontStyle;
    font-size: $titleSize;
}

.showMore {
    text-align: center;
}

@media (max-width: $tablet) {
    .certificationsContainer {
        justify-content: space-around;
    }
}