.experienceSection {
}

.experience_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 5rem;
}

@media (max-width: 768px) {
    .experience_container {
        justify-content: space-around;
    }
}