.experienceSection {
    margin: 1rem;
}

.experience_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media (max-width: 768px) {
    .experience_container {
        justify-content: space-around;
    }
}