@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.experience_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 5rem;
}

.title {
    font-family: $fontStyle;
    font-size: $titleSize;
}

@media (max-width: $tablet) {
    .experience_container {
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
}