@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.contactContainer {
    display: flex;
}

.myImage {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .contactContainer {
        text-align: center;
        flex-direction: column-reverse;
    }
}