.blogCard {
    display: block;
    position: relative;
    background-color: transparent;
    border-radius: 4px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    width: 500px;
    margin: 2rem;
    text-decoration: none;
    color: black;
}

.blogTitle {}

.blogSummary{}

.blogFooter {}

.linkToBlog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #55198b;
    border-radius: 0 4px 0 32px;
    z-index: -1;
}

.goArrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}