@import '../../styles/globalColor.scss';
@import '../../styles/globalFontSize.scss';
@import '../../styles/globalFonts.scss';
@import '../../styles/mediaBreakPoints.scss';

.blogCard {
    display: block;
    font-family: $fontStyle;
    position: relative;
    padding: 0.25rem;
    background-color: transparent;
    border-radius: 4px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    width: 500px;
    margin: 2rem;
    text-decoration: none;
    color: $titleColor;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.blogCardDark {
    color: $titleColorDark;
    box-shadow: rgb(255, 255, 255) 0px 3px 6px, rgb(255, 252, 252) 0px 3px 6px;
}

.blogCard::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: $vividBlue;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.4s ease-out;
}

.blogCard:hover::before {
    transform: scale(40);
    color: white;
}

.blogCard:hover {
    color: white;
    background-color: $vividBlue;
    transition: all 0.5s ease-out;
}

.linkToBlog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: $vividBlue;
    border-radius: 0 4px 0 32px;
    z-index: -1;
}

.goArrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}