.blogCard {
    display: block;
    width: 500px;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    margin: 1rem;
}

.blogTitle {
    color: white;
}

.blogSummary {
    color: purple;
}

.linkToBlog {
    background-color: blue;
    color: black;
    width: 32px;
    height: 32px;
}

.goArrow {

}